body {
  font-size: 20px;
    font-family: 'Spectral', serif;
  background-image: url("https://images.unsplash.com/photo-1562504208-03d85cc8c23e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.3; */
  margin: 0px;
}

#nav, #time {
  height: 60px;
  color: white;
  margin: 0px;
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
}

#container {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
}

#start {
  font-size: 1.5em;
  font-weight: bolder;
  margin-top: 100px;
  border: 3px solid white;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  height: 90px;
}

#start:hover {
  border: 6px solid cornflowerblue;
  color: cornflowerblue;
}

#quiz {
  display: flex;
  justify-content: center;
}

#question {
  width: 700px;
  height: 125px;
  display: flex;
  justify-content: center;
}
#question p {
  margin: 0;
  padding: 15px;
  font-size: 1.25em;
  text-align: center;
  color: white;
}

#choices {
  width: 700px;
  position: absolute;
  top: 150px;
  padding: 10px;
  color: white;
}
.choice {
  display: inline-block;
  width: 140px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

#timer {
  height: 100px;
  width: 200px;
  bottom: 0px;
  text-align: center;
}
#counter {
  font-size: 3em;
}

#scoreContainer {
  margin: 20px auto;
  height: 300px;
  width: 500px;
  border-color: white;
  border-width: 2px;
}

#scoreContainer p {
  display:flex;
  justify-content: center;
  width: 60px;
  height: 59px;
  top: 130px;
  left: 135px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: white;
}

#resultsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#highScores {
  border-bottom: 1px solid white;
}